<div class="header">
            <h1 class="logo">My site</h1>
            <div class="nav">
                <ul>
                    <li><a class="aa" href="#">Home</a></li>
                    <li><a class="aa"href="#">About</a></li>
                    <li><a class="aa"href="#">Archive</a></li>
                    <li><a class="aa"href="#">Contact</a></li>
                    <li><a class="search" href="#"><img src="assets/search.png" alt="Search"></a></li>
                </ul>
            </div>
        </div>

